body {
  font-size: 14px;
  font-family: Verdana, Tahoma, sans-serif; }

* {
  box-sizing: border-box;
  margin: 0; }

.header {
  font-family: 'Inconsolata', monospace;
  color: white;
  font-size: 130%; }

.head-main {
  background: green;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1%; }

.tell {
  padding: 5px 10px;
  text-decoration: none; }
  .tell a {
    text-decoration: none; }
    .tell a:hover {
      color: #99337a; }

input {
  border-radius: 25px;
  padding: 5px 10px; }

.fa-search::before {
  content: "\f002"; }

.search1 {
  position: relative;
  max-width: 200px; }

.search1 input[type="search"] {
  width: 100%;
  padding: 10px 15px; }

.search1 button {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: 0;
  color: red; }

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; }

.nav-bar {
  background-color: gray; }

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; }

.main-nav a {
  padding: 20px 15px;
  display: inline-block;
  color: white;
  text-decoration: none;
  border-left: 1px solid white; }

.main-nav li a:hover {
  background: yellowgreen; }

#nav-opener {
  display: none; }

.main-nav li:last-child a {
  border-right: 1px solid white; }

.header .nav-bar .container {
  padding: 0 15px; }

.blockOne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.blockOne {
  padding-left: 25%;
  padding-right: 20%; }
  .blockOne div {
    padding: 2%;
    margin: 1%; }
  .blockOne img {
    width: 100%; }
  .blockOne .element {
    width: 180px;
    border: 1px solid black;
    background: #2cc7c7; }

.blockTwo {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%; }
  .blockTwo div {
    padding: 1%;
    margin: 0.5%; }
  .blockTwo img {
    width: 100%; }

.element1 {
  width: 200px;
  border: 1px solid greenyellow; }
  .element1 h1 {
    color: blue; }
    .element1 h1:hover {
      color: brown;
      font-family: Georgia; }
  .element1 p {
    color: cornflowerblue; }
    .element1 p:hover {
      color: darkorange; }
  .element1 h2 {
    color: violet; }

.blockThree {
  overflow: hidden;
  z-index: -100;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 45%; }

.container-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.video-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  color: #ff0800;
  text-align: center;
  margin-top: 25%; }

.video-text button {
  background: blueviolet;
  color: white;
  padding: 1.5%;
  border-radius: 25px;
  margin: 1%;
  border: 0; }

.blockFour h1 {
  text-align: center;
  font-family: Georgia; }

.container2 ul, .container2 li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.element2 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding-top: 80px;
  text-align: center;
  display: none;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  transform: scale(0); }

.container2 li {
  display: inline-block;
  position: relative; }

.container2 li:hover .element2 {
  display: block;
  transform: scale(1); }

.foot {
  text-align: center;
  padding: 1%;
  color: white;
  background: grey; }
  .foot h3:hover {
    color: yellow; }

/*# sourceMappingURL=styleMain.css.map */
